.diary-image {
  width: 80px;
  height: 100px;

  border: 1px solid black;

  border-radius: 5px;
  flex-shrink: 0;

  object-fit: cover;
}

.image-container {
  background-color: rgba(0, 0, 0, 0.418);
  width: 80px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  border-radius: 5px;
}

.image-wrapper {
  position: relative;
}

.image-wrapper:hover .image-container {
  cursor: pointer;
  opacity: 1;
}

.image-container-close {
  position: absolute;
  right: 0;
  top: 5px;
}

.image-container-close path {
  fill: white;
}

.image-container-close:hover path {
  fill: gray;
}

.image-container-close:active path {
  fill: rgb(71, 69, 69);
}
