.action-menu {
  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  gap: 5px;

  z-index: 50;
}

.action-button {
  padding: 0;
  margin: 0;

  border: 1px solid black;
  background-color: rgb(95, 95, 212);

  width: 30px;
  height: 30px;

  cursor: pointer;

  border-radius: 5px;
  color: white;
}

.action-button:hover {
  background-color: rgb(43, 43, 197);
}

.action-button:active,
.action-button-active {
  background-color: rgb(30, 30, 151);
}
