.open-diary-modal-block {
  height: 30px;
  border: 1px solid black;

  background-color: rgb(106, 106, 199);
  color: white;
  border-radius: 2px;
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.open-diary-modal-block-active {
  background-color: rgb(60, 60, 121);
}

.open-diary-modal-block-container {
  width: 100%;
  position: relative;
}

.open-diary-modal-block:hover {
  cursor: pointer;
  background-color: rgb(83, 83, 161);
}

.open-diary-modal-block:active {
  background-color: rgb(60, 60, 121);
}

.open-diary-modal-entity {
  display: flex;
  flex-direction: column;
  gap: 5px;

  justify-content: flex-end;
  align-items: flex-end;
}

.open-diary-modal-block-arrow-down {
  position: absolute;

  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  height: 20px;
}

.open-diary-modal-block-arrow-down:hover {
  cursor: pointer;
}

.open-diary-modal-block-arrow-down:hover path {
  fill: white;
}

.open-diary-modal-block-arrow-down:active path {
  fill: rgb(228, 222, 222);
}

.open-diary-modal-block-arrow-down-active path {
  fill: rgb(228, 222, 222);
}
