.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  perspective: 1500px;

  height: 520px;
  width: 365px;
}

.cover .front {
  cursor: grab;
}

.cover .back {
  cursor: grab;
}

.cover .front-content,
.cover .back-content {
  background-color: #7a5132;
}

.cover-end-container {
  height: 100%;
  width: 21px;

  transform: translateX(-5px);
}

.cover-edge-start::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: #7a5132 transparent;
  transition: all ease 0.2s;
}
.cover-edge-start,
.cover-edge-end {
  width: 100%;
  height: 2.9%;
  background-color: transparent;
}

.cover-edge-middle {
  width: 100%;

  height: 94.2%;
  background-color: #7a5132;
}

.cover-edge-end::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #7a5132 transparent;
  transition: all ease 0.2s;
}
