.paper-content {
  height: 100%;
  width: 100%;
}

.page-counter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.paper-content-textarea-container {
  width: 100%;
  height: 430px;

  margin-top: 10px;
}

.paper-content-textarea {
  resize: none;
  width: 100%;

  height: 430px;

  outline: none;

  border: none;

  font-size: 20px;
}

.paper-content-textarea::-webkit-scrollbar {
  width: 0px;
}
