.open-diary-modal-diary {
  width: 100%;
}

.open-diary-modal-diary-save-button {
  width: 100px;
}

.open-diary-modal-diary-name-input {
  width: 100%;
  margin-bottom: 5px;
}

.open-diary-modal-diary-name-textarea {
  margin-top: 5px;
}
