.diary-images-container {
  padding-block: 5px;

  display: flex;
  gap: 5px;
}

.add-diary-image {
  width: 80px;
  height: 100px;

  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}

.add-diary-image:hover {
  cursor: pointer;
  background-color: black;
}

.add-diary-image:hover path {
  stroke: white;
}

.add-diary-image:active {
  background-color: rgb(100, 100, 100);
}
