.add-person-modal {
  background-color: rgb(100, 100, 201);

  padding: 40px;

  border-radius: 5px;
}

.add-person-modal-title {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
}

.add-person-modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-person-modal-container p {
  color: white;
}
